@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@layer components {
  .animate-updown {
    animation-name: animate-updownAnim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes animate-updownAnim {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(20px);
    }
  }
}

